body{
    background-image:url("obr/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

p{
    font-size: 30px;
    background-color:rgba(127, 255, 212, 0.377);
    margin-left: 200px;
    margin-right: 200px;
    margin-top:0;
}